{% extends './../frame.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Verdict. #{{data['id']}}</h2>
    </div>
</div>
{% if map_power['verdict_manage'] in account['power'] %}
    <a class="btn btn-default" href="/verdicts/{{data['id']}}/edit/" style="margin-bottom: 12px;">Edit</a>
{% end %}
<h3>Type:{{data['title']}}</h3>
<h3>Setter:{{data['setter_user']}}</h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{data['file_name']}}
            </div>
            <div class="panel-body edit">
                <textarea class="form-control" rows=25>{{data['code']}}</textarea>
            </div>
        </div>
    </div>
</div>
{% end %}
