{% extends './contest_frame.html' %}
{% block contest_content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>PID</th>
                        <th>Time</th>
                        <th>Memory</th>
                        <th>Verdict</th>
                        <th>Compiler</th>
                        <th>Score</th>
                        <th>Submit Time</th>
                        {% if map_group_power['submission_manage'] in current_group_power %}
                            <th>IP</th>
                        {% end %}
                    </tr>
                </thead>
                <tbody class="submissions">
                </tbody>
            </table>
        </div>
    </div>
</div>
<table class="hidden">
    <tbody class="template submission">
        <tr>
            <td><a href="/group/{{current_group}}/contests/{{contest_data['id']}}/submissions/%id%/">%id%</a></td>
            <td><a href="/group/{{current_group}}/contests/{{contest_data['id']}}/problems/%problem_id%/">%problem_id%</a></td>
            <td>%time_usage%</td>
            <td>%memory_usage%</td>
            <td>%abbreviation%</td>
            <td>%compiler%</td>
            <td>%score%</td>
            <td>%created_at%</td>
            {% if map_group_power['submission_manage'] in current_group_power %}
                <th>%ip%</th>
            {% end %}
        </tr>
    </tbody>
</table>
<script>
map_lang = Object;
{% for x in map_lang %}
    map_lang[{{x}}] = "{{map_lang[x]}}";
{% end %}
require(["jquery"], function($){
    function flash_submission(){
        template_data = $(".template.submission").html();
        replace_element = ["id", "problem_id", "time_usage", "memory_usage", "compiler", "abbreviation", "score", "created_at"];
        {% if map_group_power['submission_manage'] in current_group_power %}
            replace_element.push("ip");
        {% end %}
        $.get("http://nctuoj.twbbs.org/api/group/{{current_group}}/contests/{{contest_data['id']}}/submissions/", {token: '{{account["token"]}}'}, function(msg){
            $.each(msg['msg'], function(index, element){
                data = template_data;
                element['compiler'] = map_lang[element['lang']];
                $.each(replace_element, function(index, re_element){
                    data = data.replace(RegExp("%"+re_element+"%", "g"), element[re_element]);
                });
                $(".submissions").append(data);
            });

        }, "json");
    }
    flash_submission();
});
</script>
{% end %}
