{% extends './contest_frame.html' %}
{% block contest_content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Description
            </div>
            <div class="panel-body">
                {% raw md(contest_data['description']) %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Problem
            </div>
            <table class="table table-hover table-striped table-condensed">
                {% for id, x in enumerate(contest_data['problem']) %}
                    <tr>
                        <td class="col-xs-2"><a href="/group/{{current_group}}/contests/{{contest_data['id']}}/problems/{{x['id']}}/">p{{chr(id+65)}}.{{x['id']}} {{x['title']}}</a></td>
                    </tr>
                {% end %}
            </table>
        </div>
    </div>
</div>

{% end %}
