{% extends './../frame.html' %}
{% block content %}
{% import datetime %}
<div class="row margin-bottom">
    <div class="col-md-12 text-center">
        <h3>
            Name: {{contest_data['title']}}
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Start
            </div>
            <div class="panel-body">
                {{contest_data['start']}}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                End
            </div>
            <div class="panel-body">
                {{contest_data['end']}}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Freeze
            </div>
            <div class="panel-body">
                {{contest_data['end']}}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Style
            </div>
            <div class="panel-body">
                Style
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Description
            </div>
            <div class="panel-body">
                {% raw md(contest_data['description']) %}
            </div>
        </div>
    </div>
</div>
{% if datetime.datetime.now() > contest_data['start'] or map_group_power['contest_manage'] in current_group_power %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Problem
                </div>
                <div class="panel-body">
                    {% for id, x in enumerate(contest_data['problem']) %}
                        <h4>
                            <a href="/groups/{{current_group}}/contests/{{contest_data['id']}}/problems/{{x['id']}}/">
                                <span class="monospace">{{chr(id+65)}}.</span>{{x['title']}}
                            </a>
                        </h4>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
{% end %}

{% end %}
