{% extends './../frame.html' %}
{% block content %}
{% if map_group_power["contest_manage"] in current_group_power %}
    <a class="btn btn-default margin-bottom" href="/groups/{{current_group}}/contests/0/edit/">New</a>
{% end %}

{% module Pagination(page) %}
<div class="panel panel-default">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Register Time</th>
                <th>Contest Time</th>
                <th>Type</th>
                <th>Status</th>
                {% if map_group_power['contest_manage'] in current_group_power %}
                    <th>Edit</th>
                    <th>Delete</th>
                {% end %}
            </tr>
        </thead>
        <tbody>
            {% import datetime %}
            {% for x in data %}
                <tr>
                    {% if (map_group_power['contest_manage'] in current_group_power) or int(x['visible']) %}
                        <td><a href='/groups/{{current_group}}/contests/{{x['id']}}/'>{{x['id']}}</a></td>
                        <td><a href='/groups/{{current_group}}/contests/{{x['id']}}/'>{{x['title']}}</a></td>
                        <td>{{x['register_start']}}<br>{{x['register_end']}}</td>
                        <td>{{x['start']}}<br>{{x['end']}}</td>
                        <td>Type</td>
                        <td>
                            {% if datetime.datetime.now() > x['end'] %}
                                <a href="/groups/{{current_group}}/contests/{{x['id']}}/">End</a>
                            {% else %}
                                {% if int(x['id']) not in registered_contest %}
                                    <div class="btn btn-default" onclick="register({{x['id']}})">Register</div>
                                {% else %}
                                    <div class="btn btn-default" onclick="unregister({{x['id']}})">Registered</div>
                                {% end %}
                            {% end %}
                        </td>
                    {% else %}
                        <td>{{x['id']}}</td>
                        <td></td>
                        <td>{{x['register_start']}}<br>{{x['register_end']}}</td>
                        <td>{{x['start']}}<br>{{x['end']}}</td>
                        <td>Type</td>
                        <td></td>
                    {% end %}
                    {% if map_group_power['contest_manage'] in current_group_power %}
                        <td><a class="btn btn-xs btn-warning" href="/groups/{{current_group}}/contests/{{x['id']}}/edit/">Edit</a></td>
                        <td><div class="btn btn-xs btn-danger" onclick="delete_contest({{x['id']}});">Delete</div></td>
                    {% end %}
                </tr>
            {% end %}
        </tbody>
    </table>
</div>
<script>
    {% if map_group_power['contest_manage'] in current_group_power %}
        function delete_contest(id){
            bootbox.confirm("Do you want to delete this contest?", function(res){
                if(res){
                    $.ajax({
                        url: '/api/groups/{{current_group}}/contests/'+id+'/',
                        type: 'DELETE',
                        dataType: 'json',
                        data: {'token': '{{account['token']}}'},
                        success: function(msg){
                            if(msg['status'] == 200){
                                bootbox.alert('Deleted', function(){
                                    location.href = '/groups/{{current_group}}/contests/';
                                });
                            }else{
                                bootbox.alert(msg['msg']);
                            }
                        }
                    }); 
                }
            });
        }
    {% end %}
    function register(contest_id){
        data = Object();
        data.token = '{{account['token']}}';
        $.post('/api/groups/{{current_group}}/contests/'+contest_id+'/register/', data, function(msg){
            if(msg['status'] == 200){
                bootbox.alert('Successfully registered', function(){location.href=location.href;});
            }else{
                bootbox.alert(msg['msg']);
            }
        }, "json");
    }
    function unregister(contest_id){
        data = Object();
        data.token = '{{account['token']}}';
        $.post('/api/groups/{{current_group}}/contests/'+contest_id+'/unregister/', data, function(msg){
            if(msg['status'] == 200){
                bootbox.alert('Successfully unregistered', function(){location.href=location.href;});
            }else{
                bootbox.alert(msg['msg']);
            }
        }, "json");
    }
</script>
{% end %}
