{% extends './../common_frame.html' %}
{% block frame_content %}
{% import datetime %}
    <nav class="navbar navbar-default" style="margin: 0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/groups/{{current_group}}/">NCTU Online Judge</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/groups/{{current_group}}/contests/{{contest_data['id']}}/">Tasks</a></li>
                    {% if datetime.datetime.now() > contest_data['start'] or map_group_power['contest_manage'] in current_group_power %}
                        <li><a href="/groups/{{current_group}}/contests/{{contest_data['id']}}/submissions/">Submissions</a></li>
                        <li><a href="/groups/{{current_group}}/contests/{{contest_data['id']}}/scoreboard/">Scoreboard</a></li>
                    {% end %}
                    {% if map_group_power['contest_manage'] in current_group_power %}
                        <li><a href="/groups/{{current_group}}/contests/{{contest_data['id']}}/edit/">Edit</a></li>
                    {% end %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- admin -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Global<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/executes/">Execute Type</a></li>
                            <li><a href="/verdicts/">Verdict Type</a></li>
                            {% if map_power['user_manage'] in account['power'] %}
                                <li><a href="/users/">User</a></li>
                            {% end %}
                            {% if map_power['group_manage'] in account['power'] %}
                                <li><a href="/groups/">Group</a></li>
                            {% end %}
                        </ul>
                    </li>
                    {% if account['id'] != 0 %}
                        <li><a href="/users/{{account['id']}}/">{{account['account']}}</a></li>
                        <li><a href="/users/signout/">Sign Out</a><li>
                    {% else %}
                        <li><a href="/users/signin/">Sign In</a><li>
                        <li><a href="/users/signup/">Sign Up</a><li>
                    {% end %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-offset-0 col-sm-12" style="padding-top: 15px;">
                {% block contest_content %}
                {% end %}
            </div>
        </div>
    </div>
{% end %}
