{% extends './contest_frame.html' %}
{% block contest_content %}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">{{data['id']}}.{{data['title']}}</h2>
    </div>
</div>
<div class="row margin-bottom">
    <div class="col-md-2">
        <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/contests/{{contest_data['id']}}/problems/{{data['id']}}/submit/">Submit</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body">{% raw md(data['description']) %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Input</div>
            <div class="panel-body">{% raw md(data['input']) %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Output</div>
            <div class="panel-body">{% raw md(data['output']) %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Sample Input</div>
            <div class="panel-body">{% raw data['sample_input'] %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Sample Output</div>
            <div class="panel-body">{% raw data['sample_output'] %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Hint</div>
            <div class="panel-body">{% raw md(data['hint']) %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Source</div>
            <div class="panel-body">{% raw md(data['source']) %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Tag</div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Execute Type</div>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Lang</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data['execute'] %}
                        <tr>
                            <td>{{map_lang[x['lang']]}}</td>
                            <td>{{x['description']}}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Testdata</div>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Time Limit</th>
                        <th>Memory Limit</th>
                        <th>Output Limit</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, x in enumerate(data['testdata']) %}
                        <tr>
                            <td>{{id+1}}</td>
                            <td>{{x['time_limit']}} msec</td>
                            <td>{{x['memory_limit']}} Kb</td>
                            <td>{{x['output_limit']}} Kb</td>
                            <td>{{x['score']}}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% end %}
