{% extends './contest_frame.html' %}
{% block contest_content %}
{% if int(contest_data['id']) != 0 %}
    <h1>Edit Contest.{{contest_data['id']}}</h1>
{% else %}
    <h1>New Contest</h1>
{% end %}
<form class="form" 
      id="contest_content" 
      method={% if contest_data['id'] != 0 %}"put"{% else %}"post"{% end %} 
      action={% if contest_data['id'] != 0 %}"/api/groups/{{current_group}}/contests/{{contest_data['id']}}/"{% else %}"/api/groups/{{current_group}}/contests/"{% end %}
      >
    <input type="hidden" name="token" value="{{account['token']}}">
    <div class="row">
        <div class="col-md-3 form-group">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" name="title" value="{{contest_data['title']}}">
        </div>
        <div class="col-md-3 form-group">
            <div>
                <label class="control-label">Visible</label>
            </div>
            <select class="select" name="visible" data-width="100%">
                {% for x in map_visible %}
                    <option value={{x}}>{{map_visible[x]}}</option>
                {% end %}
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label class="control-label">Type</label>
            <select class="select" name="type" data-width="100%">
                {% for x in map_visible %}
                    <option value={{x}}>{{map_visible[x]}}</option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="row margin-bottom">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Register</label>
                <div class="input-group" >
                    <input type="text" class="datetimepicker form-control" name="register_start" value="{{contest_data['register_start']}}">
                    <div class="input-group-addon">to</div>
                    <input type="text" class="datetimepicker form-control" name="register_end" value="{{contest_data['register_end']}}">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Contest</label>
                <div class="input-group" >
                    <input type="text" class="datetimepicker form-control" name="start" value="{{contest_data['start']}}">
                    <div class="input-group-addon">to</div>
                    <input type="text" class="datetimepicker form-control" name="end" value="{{contest_data['end']}}">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Freeze(How many minutes will scoreboard stop update before contest end)</label>
                <input type="number" class="form-control" name="freeze" value="{{contest_data['freeze']}}" placeholder="freeze the scoreboard X minutes before the end(it won't effect if freeze time error)">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Description
                </div>
                <div class="panel-body edit">
                    <textarea class="form-control" rows=10 name="description">{{contest_data['description']}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<hr>
{% if int(contest_data['id']) != 0 %}
    <form class="form" 
        id="contest_problem" 
        method="put" 
        action="/api/groups/{{current_group}}/contests/{{contest_data['id']}}/problems/"
        >
        <input type="hidden" name="token" value="{{account['token']}}">
        <div class="row">
            <div class="col-md-12">
                <h2>Problem</h2>
                <div onclick="$('tbody:not(.template)').append($('.contest.problem.template').html());" class="btn btn-default margin-bottom">New</div>
                <div class="panel panel-default">
                    <table class="table table-hover table-striped table-condensed">
                        <thead>
                            <th class="text-center">#</th>
                            <th class="text-center">Score</th>
                            <th class="text-center">Delete</th>
                        </thead>
                        <tbody>
                            {% for id, x in enumerate(contest_data['problem']) %}
                                <tr>
                                    <td class="col-xs-2"><input name="problems[]" type="number" class="form-control" value="{{x['id']}}"></td>
                                    <td class="col-xs-8"><input name="scores[]" class="form-control" value="{{x['score']}}"></td>
                                    <td class="col-xs-2"><a class="btn btn-danger btn-block" onclick="$(this).parent().parent().remove();">Delete</a></td>
                                </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
    <table class="hidden">
        <tbody class="template contest problem">
            <tr>
                <td class="col-xs-2"><input name="problems[]" type="number" class="form-control"></td>
                <td class="col-xs-8"><input name="scores[]" class="form-control"></td>
                <td class="col-xs-2"><a class="btn btn-danger btn-block" onclick="$(this).parent().parent().remove();">Delete</a></td>
            </tr>
        </tbody>
    </table>
<script>
require(["jquery", "bootbox", "bootstrap-select", "bootstrap-datetimepicker"], function($, bootbox){
    $("#contest_problem").submit(function(){
        form = $(this);
        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: form.serialize(),
            dataType: "json",
            success: function(msg){
                bootbox.alert("Updated!", function(){
                    location.href = location.href;
                });
            },
            error: function(event){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg'], function(){
                    location.href = location.href;
                });
            }
        });
        return false;
    });
});
</script>
{% end %}
<script>
require(["jquery", "bootbox", "bootstrap-select", "bootstrap-datetimepicker"], function($, bootbox){
    $(".select").selectpicker();
    $("[name=visible]").selectpicker('val', {{contest_data["visible"]}});
    $('.datetimepicker').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    });
    $("#contest_content").submit(function(){
        form = $(this);
        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: form.serialize(),
            dataType: "json",
            success: function(msg){
                location.href = "/groups/{{current_group}}/contests/" + msg['msg'] + "/";
            },
            error: function(event){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg']);
            }
        });
        return false;
    });
});
</script>

{% end %}
