{% extends './../frame.html' %}
{% block content %}
{% if map_group_power["admin_manage"] in current_group_power %}
    <a class="btn btn-default margin-bottom" href="/group/{{current_group}}/contests/0/edit/">New</a>
{% end %}

{% module Pagination(page) %}
<div class="panel panel-default">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Register Time</th>
                <th>Contest Time</th>
                <th>Type</th>
                <th>Register</th>
                {% if map_group_power['admin_manage'] in current_group_power %}
                    <th>Edit</th>
                {% end %}
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
                <tr>
                    <td>
                        {% if (map_group_power['admin_manage'] in current_group_power) or int(x['visible']) %}
                            <a href='/group/{{current_group}}/contests/{{x['id']}}/'>{{x['id']}}</a>
                        {% else %}
                            {{x['id']}}
                        {% end %}
                    </td>
                    <td>
                        {% if (map_group_power['admin_manage'] in current_group_power) or int(x['visible']) %}
                            <a href='/group/{{current_group}}/contests/{{x['id']}}/'>{{x['title']}}</a>
                        {% else %}
                        {% end %}
                    </td>
                    <td>{{x['register_start']}}<br>{{x['register_end']}}</td>
                    <td>{{x['start']}}<br>{{x['end']}}</td>
                    <td>Type</td>
                    <td>Register</td>
                    {% if map_group_power['admin_manage'] in current_group_power %}
                        <th><a class="btn btn-xs btn-default">Edit</a></th>
                    {% end %}
                </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% end %}
