{% extends './contest_frame.html' %}
{% block contest_content %}
<h1 class="text-center">
    {{contest_data['title']}}-Scoreboard
</h1>
<style>
th, td{
    text-align: center !important;
}
.ac{
    background-color: #51DA3F;
}
@keyframes pending-bring {
    0%   {background-color: #FF8D39;}
    50%  {background-color: #FFC397;}
    100%   {background-color: #FF8D39;}
}
.pending{
    /* background-color: #FF8D39; */
    animation-name: pending-bring;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.wa{
    background-color: #FF4A39;
}
</style>
<div class="panel panel-default table-responsive">
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <th id="head-rank">Rank</th>
                <th id="head-user">User</th>
                <th id="head-score">Score</th>
                <th id="head-penalty">Penalty</th>
                {% for id, x in enumerate(data['problems']) %}
                    <th><a href="/groups/{{current_group}}/contests/{{contest_data['id']}}/problems/{{x['id']}}/">{{ chr(id+65) }}</a></th>
                {% end %}
                <th id="head-total">Total att/sol</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data['users'] %}
                <tr id="user_{{x['id']}}">
                    <td data-type="rank"></td>
                    <td>{{x['name']}}</td>
                    <td data-type="score">--</td>
                    <td data-type="penalty">--</td>
                    {% for y in data['problems'] %}
                        <td data-type="problem_{{y['id']}}">--/--</td>
                    {% end %}
                    <td data-type="total">--/--</td>
                </tr>
            {% end %}
        </tbody>
        <tfoot>
            <tr id="problem">
                <td></td>
                <td><b>AC/att/sol</b></td>
                <td></td>
                <td></td>
                {% for x in data['problems'] %}
                    <td data-type="problem_{{x['id']}}">{{x['id']}}</td>
                {% end %}
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
<script>

function get_scoreboard(){
    require(["jquery"], function($){
        $.get("/api/groups/{{current_group}}/contests/{{contest_data['id']}}/scoreboard/", {token: '{{account["token"]}}'}, function(msg){
            msg = msg['msg'];
            score_board = new Object();
            msg['users'].forEach(function(user){
                score_board[user['id']] = new Object();
                msg['problems'].forEach(function(problem, index){
                    score_board[user['id']][problem['id']] = new Object();
                    score_board[user['id']][problem['id']]['try'] = 0;
                    score_board[user['id']][problem['id']]['first_ac_time'] = 0;
                    score_board[user['id']][problem['id']]['pending'] = 0;
                    score_board[user['id']]['attempted'] = 0;
                    score_board[user['id']]['solved'] = 0;
                });
            });
            msg['problems'].forEach(function(problem){
                score_board[problem['id']] = new Object();
                score_board[problem['id']]['first_ac_time'] = 0;
                score_board[problem['id']]['attempted'] = 0;
                score_board[problem['id']]['solved'] = 0;
            });
            msg['submissions'].forEach(function(submission, index){
                if(score_board[submission['user_id']][submission['problem_id']]['first_ac_time'] == 0){
                    score_board[submission['user_id']]['attempted'] += 1;
                    score_board[submission['problem_id']]['attempted'] += 1;
                    score_board[submission['user_id']][submission['problem_id']]['try'] += 1;
                    if(submission['verdict'] == 1){
                        score_board[submission['user_id']][submission['problem_id']]['first_ac_time'] = submission['created_at'];
                        score_board[submission['user_id']]['solved'] += 1;
                        score_board[submission['problem_id']]['solved'] += 1;
                        if(score_board[submission['problem_id']]['first_ac_time'] == 0)
                            score_board[submission['problem_id']]['first_ac_time'] = submission['created_at'];
                    } else if(submission['verdict'] == 0){
                        score_board[submission['user_id']][submission['problem_id']]['pending'] = 1;
                    }
                }
            });
            msg['users'].forEach(function(user){
                tr = $("#user_"+user['id']);
                msg['problems'].forEach(function(problem){
                    td = tr.children("td[data-type=problem_"+problem['id']+"]");
                    value = score_board[user['id']][problem['id']];
                    str = ""
                    if(value['try']){
                        td.removeClass();
                        str += value['try'];
                        if(value['pending']){
                            td.addClass("pending");
                        } else {
                            td.addClass("wa");
                        }
                    }
                    if(value['first_ac_time']){
                        td.removeClass();
                        str += "/" + value['first_ac_time'];
                        td.addClass("ac");
                    }
                    td.html(str);
                });
                td = tr.children("td[data-type=total]");
                value = score_board[user['id']];
                td.html(""+value['attempted'] + "/" + value['solved']);

                console.log(tr);
            });
            tr = $("#problem");
            msg['problems'].forEach(function(problem){
                td = tr.children("td[data-type=problem_"+problem['id']+"]");
                value = score_board[problem['id']];
                td.html(""+value['first_ac_time']+"/"+value['attempted']+"/"+value['solved']);
            });
            setTimeout(function(){get_scoreboard();}, 1000);

        }, "json");
    });
}
get_scoreboard();
</script>
{% end %}
