{% extends './contest_frame.html' %}
{% block contest_content %}
submissions
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>PID</th>
                        <th>Submitter</th>
                        <th>Time</th>
                        <th>Memory</th>
                        <th>Verdict</th>
                        <th>Compiler</th>
                        <th>Score</th>
                        <th>Submit Time</th>
                        {% if map_group_power['submission_manage'] in current_group_power %}
                            <th>IP</th>
                        {% end %}
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
function flash_submission(){
    $.get("http://nctuoj.twbbs.org/api/group/{{current_group}}/contests/{{contest_data['id']}}/submissions/", {token: '{{account["token"]}}'}, function(msg){

    }, "json");
}
flash_submission();
</script>
{% end %}
