[submodule "http/MathJax"]
	path = http/MathJax
	url = https://github.com/mathjax/MathJax
[submodule "http/bootstrap-select"]
	path = http/bootstrap-select
	url = https://github.com/silviomoreto/bootstrap-select
[submodule "http/bootstrap"]
	path = http/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "http/font-awesome"]
	path = http/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "http/bootstrap-datetimepicker"]
	path = http/bootstrap-datetimepicker
	url = https://github.com/Eonasdan/bootstrap-datetimepicker
[submodule "http/moment"]
	path = http/moment
	url = https://github.com/moment/moment/
[submodule "http/codemirror"]
	path = http/codemirror
	url = https://github.com/codemirror/codemirror
[submodule "http/requirejs"]
	path = http/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "http/loadCSS"]
	path = http/loadCSS
	url = https://github.com/filamentgroup/loadCSS
[submodule "http/pdf.js"]
	path = http/pdf.js
	url = https://github.com/mozilla/pdf.js
[submodule "judgesystem/judge/code/isolate"]
	path = judgesystem/judge/code/isolate
	url = https://github.com/cms-dev/isolate
[submodule "http/ckeditor-dev"]
	path = http/ckeditor-dev
	url = https://github.com/ckeditor/ckeditor-dev.git
