import datetime
DBNAME = ''
DBUSER = ''
DBPASSWORD = ''
DBHOST = ''
DBPORT = 5432
DBMIN_SIZE = 1
DBMAX_SIZE = 10
COOKIE_SECRET = 'wef wqfqw wqefwqf2 '
PORT = ''
MAX_WAIT_SECOND_BEFORE_SHUTDOWN = 2
LOG_FILE_PATH = './log/server.log'
DATA_EXPIRE_SECOND = 60
API_URI_WITHOUT_SIGNIN = ['/api/user/signin/', '/api/user/signup/']
DEBUG = True
PASSWORD_SALT="adfdafd"
