{% extends 'frame.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">About</div>
            <div class="panel-body">
                You can view this site by using following url:<br>
                <ul>
                    <li><a href="http://nctuoj.twbbs.org/">http://nctuoj.twbbs.org/</a></li>
                    <li><a href="http://oj.nctu.me/">http://oj.nctu.me/</a></li>
                </ul>
                You can report bug to following email address:
                <ul>
                    <li><a href="mailto:wingemerald@gmail.com">wingemerald@gmail.com</a></li>
                    <li><a href="mailto:allencat850502@gmail.com">allencat850502@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Web History</div>
            <ul class="list-group">
                <li class="list-group-item">2015/12/09 Beta 0.5</li>
                <li class="list-group-item">2014/09/01 Start Developing</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Judge History</div>
            <ul class="list-group">
                <li class="list-group-item">2015/12/09 1.0 Version</li>
                <li class="list-group-item">2014/09/01 Start Developing</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Issue</div>
            <ul class="list-group">
                <!--<li class="list-group-item">2015/12/09 In submission page, no code will present in first submit</li>-->
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Future</div>
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>

{% end %}
