{% extends 'frame.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="well well-default">
            <h5>Bulletins</h5>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <th>Group</th>
                    <th>Title</th>
                    <th>Setter</th>
                    <th>Time</th>
                </thead>
                <tbody>
                    {% for x in data['bulletins'] %}
                        <tr>
                            <td>{{x['group_name']}}</td>
                            <td>{{x['title']}}</td>
                            <td>{{x['setter_user']}}</td>
                            <td>{{x['created_at']}}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}

