{% extends './../frame.html' %}
{% block content %}
{% if map_power['execute_manage'] in account['power'] %}
    <a class="btn btn-default" href="/executes/0/edit/" style="margin-bottom: 12px;">New</a>
{% end %}
<table class="table table-hover table-striped table-condensed" id="executes">
    <thead>
        <tr>
            <th>Language</th>
            <th>Description</th>
            <th>View</th>
            <th>Setter</th>
            <th>Priority</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for x in data %}
            <tr execute-id={{x['id']}}>
                <td>{{map_lang[x['lang']]}}</td>
                <td>{%raw md(x['description'])%}</td>
                <td><a class="btn btn-default btn-xs" href="/executes/{{x['id']}}/">View</div></td>
                <td><a href="/users/{{x['setter_user_id']}}/">{{x['setter_user']}}</a></td>
                <td priority={{x['priority']}}>{{x['priority']}}</td>
                <td>{{x['created_at']}}</td>
            </tr>
        {% end %}
    </tbody>
</table>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>取代</th>
            <th>意義</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>__FILE__</td>
            <td>提交的檔案</td>
        </tr>
        <tr>
            <td>__MAIN_FILE__</td>
            <td>主檔名</td>
        </tr>
        <tr>
            <td>__FILE_EXTENSION__</td>
            <td>副檔名</td>
        </tr>
        <tr>
            <td>__MEMORY_LIMIT__</td>
            <td>記憶體上限</td>
        </tr>
    </tbody>
</table>

{% if map_power['execute_manage'] in account['power'] %}
    <script>
    var fixer = function(e, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    };
    $('#executes tbody').sortable({
        helper: fixer,
        update: update_priority
    }).disableSelection();
    function update_priority(){
        trs = $('#executes tbody tr');
        data = Object();
        data.token = "{{account['token']}}";
        data.id = Array();
        data.priority = Array();
        $.each(trs, function(i, tr){
            $(tr).find('[priority]').text(i+1);
            data.id.push($(tr).attr('execute-id'));
            data.priority.push(i+1);
        });
        $.post('/api/executes/', data, function(msg){
            if(msg['status'] == 200){
            }else{
                bootbox.alert(msg['msg']);
            }
        }, "json");
        return true;
    }
    </script>
{% end %}
        

{% end %}
