{% extends './../frame.html' %}
{% block content %}
<a class="btn btn-default" href="/executes/{{data['id']}}/" style="margin-bottom: 12px;">Back</a>
<div class="row">
    <div class="col-xs-12">
        <div class="edit panel panel-default">
            <div class="panel-heading">
                Lang: 
                <select>
                    {% for x in map_lang %}
                        <option value={{x}}>{{map_lang[x]}}</option>
                    {% end %}
                </select>
            </div>
            <div class="panel-body"><textarea class="form-control" rows=5 name="description">{% raw data['description'] %}</textarea></div>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <th>#</th>
                    <th>Command</th>
                    <th>Primary</th>
                </thead>
                <tbody>
                    {% for x in data['steps'] %}
                        <tr>
                            <td>{{x['step']}}</td>
                            <td>{{x['command']}}</td>
                            <td>{{x['primary']}}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% end %}
