{% extends './../frame.html' %}
{% block content %}
{% if map_power['execute_manage'] in account['power'] %}
    <a class="btn btn-default" href="/executes/0/edit/" style="margin-bottom: 12px;">New</a>
{% end %}
<table class="table table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th>Language</th>
            <th>Description</th>
            <th>View</th>
            <th>Setter</th>
            <th>Priority</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for x in data %}
            <tr>
                <td>{{map_lang[x['lang']]}}</td>
                <td>{{x['description']}}</td>
                <td><a class="btn btn-default btn-xs" href="/executes/{{x['id']}}/">View</div></td>
                <td><a href="/users/{{x['id']}}">{{x['setter_user']}}</a></td>
                <td>{{x['priority']}}</td>
                <td>{{x['created_at']}}</td>
            </tr>
        {% end %}
    </tbody>
</table>
        

{% end %}
