{% extends './../frame.html' %}
{% block content %}
{% if map_power['group_manage'] in account['power'] %}
    <a href="/groups/0/manage/" class="btn btn-default" style="margin-bottom: 12px;">New</a>
{% end %}
{% set user_group_list = list({x['id'] for x in group }) %}
{% set user_inpublic_group_list = list(x['group_id'] for x in inpublic_group) %}

<!--div class="form-inline margin-bottom">
    <label class="control-label">ID</label>
    <input class="form-control" type="number">
    <label class="control-label">Name</label>
    <input class="form-control" type="text">
    <button class="btn btn-success">Query</button>
</div-->

<div class="panel panel-default">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                {% if account['id'] != 0 %}
                    <th>Apply</th>
                {% end %}
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
                {% if x['id'] in user_group_list %}
                    <tr>
                        <td>{{x['id']}}</td>
                        <td>{{x['name']}}</td>
                        <td>{{x['description']}}</td>
                        <td>{{map_group_type[x['type']]}}</td>
                        <td><a class="btn btn-success btn-xs" href="/groups/{{x['id']}}/">Enter</a></td>
                    </tr>
                {% else %}
                    {% if map_group_type[x['type']] != "Private" %}
                        <tr>
                            <td>{{x['id']}}</td>
                            <td>{{x['name']}}</td>
                            <td>{{x['description']}}</td>
                            <td>{{map_group_type[x['type']]}}</td>
                            {% if map_group_type[x['type']] == "Public" %}
                                <td><a class="btn btn-warning btn-xs" onclick="add_group({{x['id']}});">Enter</a></td>
                            {% elif map_group_type[x['type']] == "Inpublic" %}
                                {% if x['id'] not in user_inpublic_group_list %}
                                <td><a class="btn btn-warning btn-xs" onclick="add_group({{x['id']}});">Apply</a></td>
                                {% else %}
                                <td><a class="btn btn-warning btn-xs">Applied</a></td>
                                {% end %}
                            {% end %}
                        </tr>
                    {% end %}
                    </tr>
                {% end %}
            {% end %}
        </tbody>
    </table>
</div>
<script>
function add_group(group){
    require(["jquery", "bootbox"], function($, bootbox){
        $.ajax({
            url: "/api/groups/" + group +"/{{account['id']}}/",
            data: {
                token: '{{account['token']}}'
            },
            type: 'post',
            dataType: 'json',
            success: function(msg){
                location.href = "/groups/" + group + "/";
            },
            error: function(event){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg']);
            }
        });
    });
}
</script>
{% module Pagination(page) %}
{% end %}

