{% extends './../frame.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
		<div class="panel panel-default table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Account</th>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Bulletin</th>
                        <th>Problem</th>
                        <th>Submission</th>
                        <th>Contest</th>
                        {% if map_group_power['group_manage'] in current_group_power %}
                        <th></th>
                        {% end %}
                    </tr>
                </thead>
                <tbody>
                    {% for x in data['members'] %}
                        <tr>
                            {% set id = x['id'] %}
                            <td><a href="">{{x['id']}}</a></td>
                            <td><a href="">{{x['account']}}</a></td>
                            <td><a href="">{{x['student_id']}}</a></td>
                            <td><a href="">{{x['name']}}</a></td>
                            {% for i in range(1, 6) %}
                                {% if i in x['group_power'] %}
                                    <td class="col-md-1">
                                        <a class="btn btn-success btn-sm" onclick="post_group_user_power({{id}}, {{i}});">YES</a>
                                    </td>
                                {% else %}
                                    <td class="col-md-1">
                                        <a class="btn btn-danger btn-sm" onclick="post_group_user_power({{id}}, {{i}});">NO</a>
                                    </td>
                                {% end %}
                            {% end %}
                            {% if map_group_power['group_manage'] in current_group_power %}
                            <td class="col-md-1">
                                <a class="btn btn-danger btn-sm" onclick="delete_group_user({{id}})">Kick</a>
                            </td>
                            {% end %}
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
        {% if map_group_power['group_manage'] in current_group_power and data['type'] == 1%}
        <!--inpublic-->
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Account</th>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    {{data['inpublic']}}
                    {% for x in data['inpublic'] %}
                    <tr>
                        <td>{{x['id']}}</td>
                        <td>{{x['account']}}</td>
                        <td>{{x['student_id']}}</td>
                        <td>{{x['name']}}</td>
                        <td class="col-md-1"><a class="btn btn-xs btn-default" onclick="add_group({{current_group}}, {{x['id']}})">OK</a></td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
        {% end %}
        <form class="form">
            <h3>Add Users</h3>
            <div class="form-group">
                <label>By user id</label> 
                <textarea class="form-control" name="user_ids"></textarea>
            </div>
            <div class="form-group">
                <label>By user account</label> 
                <textarea class="form-control" name="user_accounts"></textarea>
            </div>
            <div class="form-group">
                <label>By user name</label> 
                <textarea class="form-control" name="user_names"></textarea>
            </div>
            <div class="form-group">
                <label>By user student id</label> 
                <textarea class="form-control" name="user_student_ids"></textarea>
            </div>
            <input type="submit" class="form-control">
        </form>
    </div>
</div>
{% if map_group_power['group_manage'] in current_group_power %}
<script>
var post_group_user_power = null;
var delete_group_user = null;
require(['jquery', 'bootbox'], function($, bootbox){
    $('form').submit(function(){
        var form = $(this);
        data = {};
        data.token = "{{account['token']}}";
        data.user_ids = form.find('[name=user_ids]').val().split(',');
        data.user_accounts = form.find('[name=user_accounts]').val().split(',');
        data.user_names = form.find('[name=user_names]').val().split(',');
        data.user_student_ids = form.find('[name=user_student_ids]').val().split(',');
        console.log(data);
        bootbox.confirm('Are you sure?', function(res){
            if(res == false)return;
            $.ajax({
                url: '/api/groups/{{current_group}}/addusers/',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function(msg){
                    bootbox.alert('Updated successfully', function(){
                        location.href = '/groups/{{current_group}}/manage/member/';
                    });
                },
                error: function(event){
                    msg = JSON.parse(event.responseText);
                    bootbox.alert(msg['msg']);
                }
            });
        });
        return false;
    });
    post_group_user_power = function(uid, power){
        $.ajax({
            url: '/api/groups/{{current_group}}/' + uid + '/power/',
            data: {
                token: '{{account['token']}}',
                power: power
            },
            dataType: 'json',
            type: 'post',
            success: function(msg){
                bootbox.alert('Updated successfully', function(){
                    location.href = location.href;
                });
            },
            error: function(event){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg']);
            }
        });
    };
    delete_group_user = function(uid){
        bootbox.confirm('Are you sure?', function(res){
            if(res == false) return;
            $.ajax({
                url: '/api/groups/{{current_group}}/' + uid + '/',
                type: 'DELETE',
                dataType: 'json',
                data: {
                    token: "{{account['token']}}"
                },
                success: function(msg){
                    bootbox.alert('Deleted successfully', function(){
                        location.href = location.href;
                    });
                },
                error: function(event){
                    msg = JSON.parse(event.responseText);
                    bootbox.alert(msg['msg']);
                }
            });
        });
    };
});
function add_group(group, uid){
    require(["jquery", "bootbox"], function($, bootbox){
        $.ajax({
            url: "/api/groups/" + group +"/" + uid + "/",
            data: {
                token: '{{account['token']}}',
                force: true,
            },
            type: 'post',
            dataType: 'json',
            success: function(msg){
                location.href = location.href;
            },
            error: function(event){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg']);
            }
        });
    });
}
</script>
{% end %}
{% end %}

