{% extends './../frame.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <form class="form">
            <input type="hidden" name="token" value="{{account['token']}}">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input name="name" class="form-control" type="text" value="{{data['name']}}">
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input name="description" class="form-control" type="text" value="{{data['description']}}">
            </div>
            {% if data['id'] != 0 %}
            <button type="button" class="btn btn-danger" onclick="delete_group();">Delete</button>
            {% end %}
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<script>

require(["jquery", "bootbox", "bootstrap-select"], function($, bootbox){
    $("form").submit(function(){
        data = $(this).serialize();
        $.post('/api/groups/{{current_group}}/', data, function(msg){
            if(msg['status'] == 200){
                bootbox.alert('Updated Successfully', function(){
                    location.href = "/groups/" + msg['msg']['id'] + "/manage/";
                });
            } else {
                bootbox.alert(msg['msg']);
            }
        }, "json");
        return false;
    });
    {% if data['id'] != 0 %}
    delete_group = function(){
        bootbox.confirm('Do you want to delete group {{data["id"]}}.{{data["name"]}}', 
            function(res){
                if(res == false)return true;
                $.ajax({
                    url: '/api/groups/{{current_group}}/', 
                    data: {
                        'token': "{{account['token']}}"
                    }, 
                    dataType: "json",
                    type: 'delete',
                    success: function(msg){
                        if(msg['status'] == 200){
                            bootbox.alert('Deleted Successfully', function(){
                                location.href = '/groups/';
                            });
                        }else{
                            bootbox.alert(msg['msg']);
                        }
                    }
                });
            }
        );
    };
    {% end %}
});
</script>
{% end %}

