{% extends './../frame.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
		<div class="panel panel-default table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Account</th>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Bulletin</th>
                        <th>Problme</th>
                        <th>Submission</th>
                        <th>Contest</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data['members'] %}
                        <tr>
                            {% set id = x['id'] %}
                            <td><a href="">{{x['id']}}</a></td>
                            <td><a href="">{{x['account']}}</a></td>
                            <td><a href="">{{x['student_id']}}</a></td>
                            <td><a href="">{{x['name']}}</a></td>
                            {% for i in range(1, 6) %}
                                {% if i in x['group_power'] %}
                                    <td class="col-md-1">
                                        <a class="btn btn-success btn-sm" onclick="post_group_user_power({{id}}, {{i}});">YES</a>
                                    </td>
                                {% else %}
                                    <td class="col-md-1">
                                        <a class="btn btn-danger btn-sm" onclick="post_group_user_power({{id}}, {{i}});">NO</a>
                                    </td>
                                {% end %}
                            {% end %}
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if map_group_power['group_manage'] in current_group_power %}
<script>
var post_group_user_power = null;
require(['jquery', 'bootbox'], function($, bootbox){
    post_group_user_power = function(uid, power){
        $.ajax({
            url: '/api/groups/{{current_group}}/' + uid + '/',
            data: {
                token: '{{account['token']}}',
                power: power
            },
            dataType: 'json',
            type: 'post',
            success: function(msg){
                bootbox.alert('Updated successfully', function(){
                    location.href = location.href;
                });
            },
            error: function(event){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg']);
            }
        });
    }
});
</script>
{% end %}
{% end %}

