{% extends './../frame.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <form class="form" 
              method={% if data['id'] != 0 %}"put"{% else %}"post"{% end %}
              action={% if data['id'] != 0 %}"/api/groups/{{current_group}}/"{% else %}"/api/groups/"{% end %}
              >
            <input type="hidden" name="token" value="{{account['token']}}">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input name="name" class="form-control" type="text" value="{{data['name']}}">
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input name="description" class="form-control" type="text" value="{{data['description']}}">
            </div>
            {% if data['id'] != 0 %}
            <button type="button" class="btn btn-danger" onclick="delete_group();">Delete</button>
            {% end %}
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<script>

require(["jquery", "bootbox", "bootstrap-select"], function($, bootbox){
    $("form").submit(function(){
        data = $(this).serialize();
        $.ajax({
            url: $(this).attr('action'),
            data: data,
            type: $(this).attr('method'),
            dataType: 'json',
            success: function(msg){
                bootbox.alert('Updated Successfully', function(){
                    location.href = "/groups/" + msg['msg'] + "/manage/";
                });
            },
            error: function(event){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg']);
            }
        });
        return false;
    });
    {% if data['id'] != 0 %}
    delete_group = function(){
        bootbox.confirm('Do you want to delete group {{data["id"]}}.{{data["name"]}}', 
            function(res){
                if(res == false)return true;
                $.ajax({
                    url: '/api/groups/{{current_group}}/', 
                    data: {
                        'token': "{{account['token']}}"
                    }, 
                    dataType: "json",
                    type: 'delete',
                    success: function(msg){
                        bootbox.alert('Deleted Successfully', function(){
                            location.href = '/groups/';
                        });
                    },
                    error: function(event){
                        msg = JSON.parse(event.responseText);
                        bootbox.alert(msg['msg']);
                    }
                });
            }
        );
    };
    {% end %}
});
</script>
{% end %}

