
{% if 'contest_data' in globals() %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">
                {% for id, x in enumerate(contest_data['problem']) %}
                    {% if x['id'] == data['id'] %}
                        {{chr(id+65)}}.{{data['title']}}
                    {% end %}
                {% end %}
            </h2>
        </div>
    </div>
    {% if datetime.datetime.now() > contest_data['end'] %}
        <font style="color: red">比賽時間已結束，<a href="/groups/{{current_group}}/problems/{{data['id']}}/">回到一般題目頁面</a>。</font>
    {% elif (contest_data['id'] in registered_contest or map_group_power['contest_manage'] in current_group_power) %}
        <div class="row margin-bottom">
            <div class="col-md-2">
                <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/contests/{{contest_data['id']}}/problems/{{data['id']}}/submit/" style="cursor: pointer">Submit</a>
            </div>
        </div>
    {% else %}
        <font style="color: red">你尚未註冊此比賽，<a onclick="register({{contest_data['id']}});">點選此處註冊</a>。</font>
        <script>
        require(['jquery', 'bootbox'], function($, bootbox){
            register = function(contest_id){
                $.ajax({
                    url: '/api/groups/{{current_group}}/contests/'+contest_id+'/register/',
                    type: 'post',
                    data: {
                        "token": "{{account['token']}}"
                    },
                    dataType: "json",
                    success: function(msg){
                        bootbox.alert('Successfully registered', function(){location.href=location.href;});
                    },
                    error: function(msg){
                        msg = JSON.parse(event.responseText);
                        bootbox.alert(msg['msg']);
                    }
                });
            }
        })
        </script>
    {% end %}
{% else %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">{{data['id']}}.{{data['title']}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 margin-bottom">
            <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/problems/{{data['id']}}/submit/">Submit</a>
        </div>
        <div class="col-md-2 margin-bottom">
            <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/submissions/?problem_id={{data['id']}}">Submissions</a>
        </div>
        {% if map_group_power["problem_manage"] in current_group_power and int(current_group) == int(data['group_id']) %}
            <div class="col-md-2 margin-bottom">
                <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/problems/{{data['id']}}/basic/edit/">Edit</a>
            </div>
            <div class="col-md-2 margin-bottom">
                <a class="btn btn-default btn-block btn-sm" onclick="delete_problem(this)" data-href="/api/groups/{{current_group}}/problems/{{data['id']}}/basic/" data-method="delete">Delete</a> 
            </div>
            <div class="col-md-2 margin-bottom">
                <a class="btn btn-default btn-block btn-sm" onclick="rejudge_problem(this);" >Rejudge</a>
            </div>
            <script>
            function delete_problem(ele){
                require(["jquery", "bootbox"], function($, bootbox){
                    bootbox.confirm("Are you sure?", function(result) {
                        if(result){
                            $.ajax({
                                url: $(ele).attr("data-href"),
                                type: $(ele).attr("data-method"),
                                data: {
                                    "token": "{{account['token']}}"
                                },
                                dataType: "json",
                                success: function(msg){
                                    location.href = '/groups/{{current_group}}/problems/';
                                },
                                error: function(msg){
                                    msg = JSON.parse(event.responseText);
                                    bootbox.alert(msg['msg']);
                                }
                            });
                        }
                    }); 
                });
            }
            function rejudge_problem(ele){
                require(["jquery", "bootbox"], function($, bootbox){
                    form = $(ele);
                    $.ajax({
                        url: '/api/groups/{{current_group}}/problems/{{data['id']}}/rejudge/',
                        type: 'post',
                        data: {
                            'token': '{{account['token']}}',
                        },
                        dataType: "json",
                        success: function(msg){
                            bootbox.alert("Rejudged", function(){
                                location.href = '/groups/{{current_group}}/submissions/?problem_id={{data['id']}}';
                            });
                        },
                        error: function(event){
                            msg = JSON.parse(event.responseText);
                            bootbox.alert(msg['msg']);
                        }
                    });
                });
            }
            </script>
        {% end %}
        <div class="col-md-2 margin-bottom">
            <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/problems/">Back to List</a>
        </div>
    </div>
{% end %}
{% if not data['pdf'] %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body monospace">{% raw md(data['description']) %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Input</div>
            <div class="panel-body monospace">{% raw md(data['input']) %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Output</div>
            <div class="panel-body monospace">{% raw md(data['output']) %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Sample Input</div>
            <div class="panel-body monospace">{% raw md(data['sample_input']) %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Sample Output</div>
            <div class="panel-body monospace">{% raw md(data['sample_output']) %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Hint</div>
            <div class="panel-body monospace">{% raw md(data['hint']) %}</div>
        </div>
    </div>
</div>
{% else %}
<div class="col-md-12 margin-bottom" id="pdf" style="background-color: black; padding-top: 15px;">
</div>
<script>
require(['jquery', 'pdf'], function($){
    PDFJS.workerSrc ='/asset/pdf.js/build/generic/build/pdf.worker.js';
    PDFJS.getDocument('/resource/problems/{{ data["id"] }}/pdf.pdf?{{ data["updated_at"] }}').then(function(pdf){
        var pdf_div = $('#pdf');
        for(i=1;i<=pdf.numPages;i++){
            pdf.getPage(i).then(function(page){
                var pdf_canvas = $('<canvas style="width:100%; margin-bottom:16px; display:block;"></canvas>');
                pdf_div.append(pdf_canvas);
                var ctx = pdf_canvas[0].getContext('2d');
                var offset = pdf_canvas.offset();
                var viewport = page.getViewport(pdf_canvas.width() / page.getViewport(1.0).width);
                pdf_canvas.attr('width', viewport.width);
                pdf_canvas.attr('height', viewport.height);
                page.render({
                    'canvasContext':ctx,
                    'viewport':viewport,
                });
            });
        }
    });
});
</script>
{% end %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Source</div>
            <div class="panel-body monospace">{% raw md(data['source']) %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Tag</div>
            <div class="panel-body monospace"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Execute Type</div>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Lang</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data['execute'] %}
                        <tr>
                            <td>{{map_lang[x['lang']]}}</td>
                            <td>{% raw md(x['description']) %}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<div class="panel panel-default table-responsive">
            <div class="panel-heading">Testdata</div>
            <div class="table-responsive">
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Time Limit</th>
                            <th>Memory Limit</th>
                            <th>Output Limit</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, x in enumerate(data['testdata']) %}
                            <tr>
                                <td>{{id+1}}</td>
                                <td>{{x['time_limit']}} msec</td>
                                <td>{{x['memory_limit']}} Kb</td>
                                <td>{{x['output_limit']}} Kb</td>
                                <td>{{x['score']}}</td>
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
