
{% if not data['pdf'] %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body">{% raw md(data['description']) %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Input</div>
            <div class="panel-body">{% raw md(data['input']) %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Output</div>
            <div class="panel-body">{% raw md(data['output']) %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Sample Input</div>
            <div class="panel-body">{% raw md(data['sample_input']) %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Sample Output</div>
            <div class="panel-body">{% raw md(data['sample_output']) %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Hint</div>
            <div class="panel-body">{% raw md(data['hint']) %}</div>
        </div>
    </div>
</div>
{% else %}
<div class="col-md-12 margin-bottom" id="pdf" style="background-color: black; padding-top: 15px;">
</div>
<script>
require(['jquery', 'pdf'], function($){
    PDFJS.workerSrc ='/asset/pdf.js/build/generic/build/pdf.worker.js';
    PDFJS.getDocument('/resource/problems/{{ data["id"] }}/pdf.pdf?{{ data["updated_at"] }}').then(function(pdf){
        var pdf_div = $('#pdf');
        for(i=1;i<=pdf.numPages;i++){
            pdf.getPage(i).then(function(page){
                var pdf_canvas = $('<canvas style="width:100%; margin-bottom:16px; display:block;"></canvas>');
                pdf_div.append(pdf_canvas);
                var ctx = pdf_canvas[0].getContext('2d');
                var offset = pdf_canvas.offset();
                var viewport = page.getViewport(pdf_canvas.width() / page.getViewport(1.0).width);
                pdf_canvas.attr('width', viewport.width);
                pdf_canvas.attr('height', viewport.height);
                page.render({
                    'canvasContext':ctx,
                    'viewport':viewport,
                });
            });
        }
    });
});
</script>
{% end %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Source</div>
            <div class="panel-body">{% raw md(data['source']) %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Tag</div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Execute Type</div>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Lang</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data['execute'] %}
                        <tr>
                            <td>{{map_lang[x['lang']]}}</td>
                            <td>{% raw md(x['description']) %}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<div class="panel panel-default table-responsive">
            <div class="panel-heading">Testdata</div>
            <div class="table-responsive">
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Time Limit</th>
                            <th>Memory Limit</th>
                            <th>Output Limit</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, x in enumerate(data['testdata']) %}
                            <tr>
                                <td>{{id+1}}</td>
                                <td>{{x['time_limit']}} msec</td>
                                <td>{{x['memory_limit']}} Kb</td>
                                <td>{{x['output_limit']}} Kb</td>
                                <td>{{x['score']}}</td>
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
