{% extends './../frame.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">{{data['problem']['id']}}.{{data['problem']['title']}}</h2>
    </div>
</div>
<div class="row" style="margin-bottom: 20px">
    <div class="col-md-2">
        <a class="btn btn-default btn-block btn-sm">Submit</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default btn-block btn-sm">Submissions</a>
    </div>
    {% if map_group_power["admin_manage"] in current_group_power and int(current_group) == int(data['problem']['group_id']) %}
        <div class="col-md-2">
            <a class="btn btn-default btn-block btn-sm" href="/group/{{current_group}}/problems/{{data['problem']['id']}}/edit/">Edit</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default btn-block btn-sm" href="/group/{{current_group}}/problems/{{data['problem']['id']}}/testdata/">Testdata</a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-default btn-block btn-sm">Tag</a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-default btn-block btn-sm" onclick="delete_problem(this)" data-href="/api/group/{{current_group}}/problems/{{data['problem']['id']}}/" data-method="delete">Delete</a> 
        </div>
        <div class="col-md-1">
            <a class="btn btn-default btn-block btn-sm">Rejudge</a>
        </div>
        <script>
        function delete_problem(ele){
            bootbox.confirm("Are you sure?", function(result) {
                if(result){
                    $.ajax({
                        url: $(ele).attr("data-href"),
                        type: $(ele).attr("data-method"),
                        dataType: "json",
                        success: function(msg){
                            if(msg['status'] == 'success'){
                                location.href = '/group/{{current_group}}/problems/';
                            } else {
                                alert(msg['msg']);
                            }
                        }
                    });
                }
            }); 
        }
        </script>
    {% end %}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body">{% raw data['problem']['description'] %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Input</div>
            <div class="panel-body">{% raw data['problem']['input'] %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Output</div>
            <div class="panel-body">{% raw data['problem']['output'] %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Sample Input</div>
            <div class="panel-body">{% raw data['problem']['sample_input'] %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Sample Output</div>
            <div class="panel-body">{% raw data['problem']['sample_output'] %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Hint</div>
            <div class="panel-body">{% raw data['problem']['hint'] %}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Source</div>
            <div class="panel-body">{% raw data['problem']['source'] %}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Tag</div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Execute Type</div>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Lang</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Testdata</div>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Time Limit</th>
                        <th>Memory Limit</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

{% end %}
