{% extends './../frame.html' %}
{% block content %}

{% include 'problem_edit_title.html' %}

<form class="form" method="post" action="/api/group/{{current_group}}/problems/{{data['id']}}/basic/">
    <input type="hidden" name="token" value="{{account['token']}}">
    <div class="row">
        <div class="col-md-3 form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" name="title" value="{{data['title']}}">
        </div>
        <div class="col-md-3 form-group">
            <div>
                <label class="control-label">Visible</label>
            </div>
            <select class="select" name="visible">
                {% for x in map_visible %}
                    <option value={{x}}>{{map_visible[x]}}</option>
                {% end %}
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label class="control-label">Verdict</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Description</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="description">{% raw data['description'] %}</textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Input</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="input">{% raw data['input'] %}</textarea></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Output</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="output">{% raw data['output'] %}</textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sample Input</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="sample_input">{% raw data['sample_input'] %}</textarea></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sample Output</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="sample_output">{% raw data['sample_output'] %}</textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Hint</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="hint">{% raw data['hint'] %}</textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Source</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="source">{% raw data['source'] %}</textarea></div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<script>
$( document ).ready(function(){
    $("[name=visible]").selectpicker().selectpicker('val', {{data["visible"]}});
    $("form").submit(function(){
        form = $(this);
        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: form.serialize(),
            dataType: "json",
            success: function(msg){
                if(msg['status'] == 200){
                    location.href = "/group/{{current_group}}/problems/" + msg['msg']['id'] + "/";
                } else {
                    bootbox.alert(msg['msg'])
                }
            }
        });
        return false;
    });
});
</script>
{% end %}
