{% extends './../frame.html' %}
{% block content %}

{% include 'problem_edit_title.html' %}
<div class="row margin-bottom">
    <form id="same_problem_id" class="form-inline col-md-4">
        <label class="control-label">同題號</label>
        <input class="form-control" type="number" name="id">
        <button type="submit" class="btn btn-success">Go</button>
    </form>
    <div class="col-md-4">
        <div class="dropdown col-md-10">
            <span>新增</span>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Execute List <span class="caret"></span></button>
            <ul class="execute list dropdown-menu" style="width: 100%"></ul>
        </div>
    </div>
</div>
<form id="problem_execute_form" method="post" action="/api/groups/{{current_group}}/problems/{{data['id']}}/execute/">
    <input type="hidden" name="token" value="{{account['token']}}">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Execute Type</div>
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Lang</th>
                            <th>Description</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for x in data['execute'] %}
                            <tr>
                                <input type="hidden" name="execute[]" value="{{x['id']}}">
                                <td>{{map_lang[x['lang']]}}</td>
                                <td>{{x['description']}}</td>
                                <td><div onclick="delete_execute(this);" class="btn btn-danger btn-sm">Delete</div></td>
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<table class="hidden">
    <tbody class="template execute type">
        <tr>
            <input type="hidden" name="execute[]" value="%id%">
            <td>%lang%</td>
            <td>%description%</td>
            <td><div onclick="delete_execute(this);" class="btn btn-danger btn-sm">Delete</div></td>
        </tr>
    </tbody>
</table>
<div class="hidden template execute list">
    <li>
        <a onclick="add_execute_from_list(this);" data-id='%id%' data-lang='%lang-code%' data-description='%description%'>
            <div class="row">
                <div class="col-xs-4">%lang%</div>
                <div class="col-xs-8">|%description%</div>
            </div>
        </a>
    </li>
</div>
    
<script>
function delete_execute(ele){
    require(["jquery"], function($){
        $(ele).parent().parent().remove();
    });
}
function add_execute(ele){
    require(["jquery"], function($){
        data = $(".template.execute.type").html();
        data = data.replace(/%id%/g, ele['id']);
        data = data.replace(/%lang%/g, map_lang[ele['lang']]);
        data = data.replace(/%description%/g, ele['description']);
        $('tbody:not(.template)').append(data);
    });
}
function add_execute_from_list(ele){
    require(["jquery"], function($){
        element = Object;
        element['id'] = $(ele).attr("data-id");
        element['lang'] = $(ele).attr("data-lang");
        element['description'] = $(ele).attr("data-description");
        add_execute(element);
    });
}
require(["jquery", "bootbox"], function($, bootbox){
    map_lang = Object;
    {% for x in map_lang %}
        map_lang[{{x}}] = "{{map_lang[x]}}";
    {% end %}
    $.get("/api/executes/", function(msg){
        $.each(msg['msg'], function(index, element){
            data = $(".template.execute.list").html();
            data = data.replace(/%id%/g, element['id']);
            data = data.replace(/%lang-code%/g, element['lang']);
            data = data.replace(/%lang%/g, map_lang[element['lang']]);
            data = data.replace(/%description%/g, element['description']);
            $(".execute.list:not(.template)").append(data);
        });
    }, "json");
    $("#same_problem_id").submit(function(){
        form = $(this);
        $.ajax({
            url: "/api/groups/0/problems/"+$("[name=id]").val()+"/execute/",
            dataType: "json",
            success: function(msg){
                $('tbody:not(.template)').html("");
                if(msg['status'] == 200){
                    $.each(msg['msg'], function(index, element){
                        add_execute(element);
                    });
                    $("#problem_execute_form").submit();
                } else {
                    bootbox.alert(msg['msg']);
                }
            }
        });
        return false;
    });
    $("#problem_execute_form").submit(function(){
        form = $(this);
        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: form.serialize(),
            dataType: "json",
            success: function(msg){
                if(msg['status'] == 200){
                    bootbox.alert("success", function(){
                        //location.href = location.href;
                    });
                } else {
                    bootbox.alert(msg['msg']);
                }
            }
        });
        return false;
    });
});
</script>

{% end %}
