{% extends './../frame.html' %}
{% block content %}

{% if map_group_power["admin_manage"] in current_group_power %}
    <a class="btn btn-default" href="/group/{{current_group}}/problems/0/edit/" style="margin-bottom: 12px;">New</a>
{% end %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Real ID</th>
            <th>Group ID</th>
            <th>Problem</th>
            <th>Setter</th>
            <th>Source</th>
            <th>Created Time</th>
        </tr>
    </thead>
    <tbody>
        {% for x in data %}
            <tr>
                <td><a href='/group/{{current_group}}/problems/{{x['real_id']}}/'>{{x['id']}}</a></td>
                <td><a href='/group/{{current_group}}/problems/{{x['real_id']}}/'>{{x['real_id']}}</a></td>
                <td><a href='/group/{{x['group_id']}}/problems/'>{{x['group_id']}}</a></td>
                <td><a href='/group/{{current_group}}/problems/{{x['real_id']}}/'>{{x['title']}}</a></td>
                <td><a href='/user/{{x['setter_user_id']}}/'>{{x['setter_user']}}</a></td>
                <td>{{x['source']}}</td>
                <td>{{x['created_at']}}</td>
            </tr>
        {% end %}
    </tbody>
</table>
{% module Pagination(page) %}
{% end %}
