{% extends './../frame.html' %}
{% block content %}

{% include 'problem_edit_title.html' %}

<form class="form" method="post" action="/api/groups/{{current_group}}/problems/{{data['id']}}/basic/">
    <input type="hidden" name="token" value="{{account['token']}}">
    <div class="row">
        <div class="col-md-3 form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" name="title" value="{{data['title']}}">
        </div>
        <div class="col-md-3 form-group">
            <div>
                <label class="control-label">Visible</label>
            </div>
            <select class="select" name="visible" data-width="100%">
                {% for x in map_visible %}
                    <option value={{x}}>{{map_visible[x]}}</option>
                {% end %}
            </select>
        </div>
        <div class="col-md-3 form-group">
            <div>
                <label class="control-label">Verdict</label>
            </div>
            <select class="selectpicker" name="verdict_id" data-width="100%">
                <option value="0">Add new Verdict</option>
                {% for x in data['verdict_list'] %}
                    {% if int(x['problem_id']) == 0 or int(x['problem_id']) == int(data['id'])%}
                    <option value={{x['id']}}>{{x['title']}}</option>
                    {% end %}
                {% end %}
            </select>
            <div name="new_verdict">
                <input name="verdict_code" type="file" class="form-control">
                <select class="select" name="verdict_execute_type_id">
                    {% for x in data['execute_types'] %}
                        <option value="{{x['id']}}">{{map_lang[x['lang']]}}|{{x['description']}}</option>
                    {% end %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="control-label">Pdf</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <input name="pdf" type="checkbox" {% if data['pdf'] %} checked {% end %}>
                </span>
                <input name="pdf_file" type="file" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Description</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="description">{% raw data['description'] %}</textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Input</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="input">{% raw data['input'] %}</textarea></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Output</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="output">{% raw data['output'] %}</textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sample Input</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="sample_input">{% raw data['sample_input'] %}</textarea></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sample Output</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="sample_output">{% raw data['sample_output'] %}</textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Hint</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="hint">{% raw data['hint'] %}</textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Source</div>
                <div class="panel-body edit"><textarea class="form-control" rows=5 name="source">{% raw data['source'] %}</textarea></div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<script>
require(["jquery", "bootbox", "bootstrap-select"], function($, bootbox){
    $("[name=visible]").selectpicker().selectpicker('val', {{data["visible"]}});
    $("[name=verdict_id]").selectpicker().selectpicker('val', {{data["verdict_id"]}});
    $("[name=verdict_execute_type_id]").selectpicker();
    if({{data['verdict_id']}} != 0){
        $('[name=new_verdict]').hide();
    }
    $('[name=verdict_id]').change(function(){
        if($(this).val() == 0){
            $('[name=new_verdict]').show();
        }else{
            $('[name=new_verdict]').hide();
        }
    });
    $("form").submit(function(){
        form = $(this);
        var data = new FormData($(this)[0]);
        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: data,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(msg){
                location.href = "/groups/{{current_group}}/problems/" + msg['msg']['id'] + "/";
            },
            error: function(msg){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg']);
            }
        });
        return false;
    });
});
</script>
{% end %}
