{% extends './../frame.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">{{data['id']}}.{{data['title']}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2 margin-bottom">
        <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/problems/{{data['id']}}/submit/">Submit</a>
    </div>
    <div class="col-md-2 margin-bottom">
        <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/submissions/?problem_id={{data['id']}}">Submissions</a>
    </div>
    {% if map_group_power["problem_manage"] in current_group_power and int(current_group) == int(data['group_id']) %}
        <div class="col-md-2 margin-bottom">
            <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/problems/{{data['id']}}/basic/edit/">Edit</a>
        </div>
        <div class="col-md-2 margin-bottom">
            <a class="btn btn-default btn-block btn-sm" onclick="delete_problem(this)" data-href="/api/groups/{{current_group}}/problems/{{data['id']}}/basic/" data-method="delete">Delete</a> 
        </div>
        <div class="col-md-2 margin-bottom">
            <a class="btn btn-default btn-block btn-sm" onclick="rejudge_problem(this);" >Rejudge</a>
        </div>
        <script>
        function delete_problem(ele){
            require(["jquery", "bootbox"], function($, bootbox){
                bootbox.confirm("Are you sure?", function(result) {
                    if(result){
                        $.ajax({
                            url: $(ele).attr("data-href"),
                            type: $(ele).attr("data-method"),
                            data: {
                                "token": "{{account['token']}}"
                            },
                            dataType: "json",
                            success: function(msg){
                                if(msg['status'] == 200){
                                    location.href = '/groups/{{current_group}}/problems/';
                                } else {
                                bootbox.alert(msg['msg'], function(){});
                                }
                            }
                        });
                    }
                }); 
            });
        }
        function rejudge_problem(ele){
            require(["jquery", "bootbox"], function($, bootbox){
                form = $(ele);
                $.post('/api/groups/{{current_group}}/problems/{{data["id"]}}/rejudge/', 
                    {'token': '{{account['token']}}'},
                    function(msg){
                    if(msg['status'] == 200){
                        bootbox.alert("Rejudged.", function(){
                            location.href="/groups/{{current_group}}/submissions/?problem_id={{data['id']}}";
                        });
                    }else{
                        bootbox.alert(msg['msg'], function(){});
                    }
                }, "json");
            });
        }
        </script>
    {% end %}
    <div class="col-md-2 margin-bottom">
        <a class="btn btn-default btn-block btn-sm" href="/groups/{{current_group}}/problems/">Back to List</a>
    </div>
</div>
{% include "./../problems/module_problem.html" %}

{% end %}
