{% extends './../frame.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="/api/group/{{current_group}}/submissions/0/submit/">
            <input type="hidden" name="id" value="{{data['id']}}">
            <input type="hidden" name="token" value="{{account['token']}}">
            <h1>{{data['id']}}.{{data['title']}}</h1>
            <div class="form-inline margin-bottom">
                <label class="control-label">Execute Type:</label>
                <select class="selectpicker" name="execute_type_id">
                    {% for x in data['execute'] %}
                        <option value="{{x['id']}}">{{map_lang[x['lang']]}}|{{x['description']}}</option>
                    {% end %}
                </select>
            </div>
            <div class="form-inline margin-bottom">
                <label class="control-label">
                    從電腦上傳
                </label>
                <a class="btn btn-default btn-sm btn-file" onclick="$(this).parent().find('input').click();">
                    檔案
                </a>
                <input name="code_file" class="input hidden" type="file" onchange="$(this).parent().find('a.btn-file').html($(this).val()!=''?$(this).val():'檔案');">
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-inline">
                        <label class="control-label">File Name:</label>
                        <input class="form-control" type="text" name="plain_file_name">
                    </div>
                </div>
                <div class="panel-body edit">
                    <textarea class="form-control" name="plain_code" rows=25></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
<script>
$( document ).ready(function(){
    $("button").prop("disabled", false);
    $(".selectpicker").selectpicker();
    $("form").submit(function(){
        var data = new FormData($(this)[0]);
        form = $(this);
        $("button").prop("disabled", true);
        $.ajax({
            url: form.attr("action"),
            type: "post",
            data: data,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(msg){
                $("button").prop("disabled", false);
                if(msg['status'] == 200){
                    location.href = "/group/{{current_group}}/submissions/"+msg['msg']+"/";
                } else {
                    bootbox.alert(msg['msg']);
                }
            }
        });
        return false;
    });
});
</script>
{% end %}
