{% extends './../frame.html' %}
{% block content %}

<form class="form-horizontal" action="/api/users/{{account['id']}}/" method="post">
    <input type="hidden" name="query" value="basic_info">
    <input type="hidden" name="token" value="{{account['token']}}">
    <div class="form-group">
        <label class="col-sm-4 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="name" value="{{account['name']}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Email</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="email" value="{{account['email']}}">
        </div>
    </div>
    <div  class="form-group">
        <label class="col-sm-4 control-label">School</label>
        <div class="col-sm-4">
            <select class="selectpicker form-control" name="school_id">
                {% for x in data['schools'] %}
                <option value="{{x['id']}}">{{x['name']}}</option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Student ID</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="student_id" value={{account['student_id']}}>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="passwd">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">New Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="npasswd">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Repeat New Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="rpasswd">
        </div>
    </div>
    <button class="col-sm-offset-4 btn btn-success" type="submit">Submit</button>
</form>
<script>
require(["jquery", "bootbox", "bootstrap-select"], function($, bootbox){
    $(".selectpicker").selectpicker();
    $("form").submit(function(){
        form = $(this);
        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: form.serialize(),
            dataType: "json",
            success: function(msg){
                if(msg['status'] == 200){
                    location.href = "/users/{{account['id']}}/";
                } else {
                    bootbox.alert(msg['msg'])
                }
            }
        });
        return false;
    });
});
</script>

{% end %}
