{% extends './../frame.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
		<div class="panel panel-default table-responsive">
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Account</th>
                        <th>Student ID</th>
                        <th>User</th>
                        <th>Group</th>
                        <th>Execute</th>
                        <th>Verdict</th>
                        <th>Created At</th>
                        <th></th>
                    </tr>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data %}
                        <tr>
                            <td class="col-md-1"><a href="/users/{{x['id']}}/">{{x["id"]}}</a></td>
                            <td class="col-md-2"><a href="/users/{{x['id']}}/">{{x["account"]}}</a></td>
                            <td class="col-md-1">{{x["student_id"]}}</td>
                            <td class="col-md-1">
                                <div onclick="update({{x['id']}}, 1);" class="btn btn-sm {{ "btn-success" if map_power['user_manage'] in x['power'] else "btn-danger"}}">
                                    {{ "Yes" if map_power['user_manage'] in x['power'] else "No"}}
                                </div>
                            </td>
                            <td class="col-md-1">
                                <div onclick="update({{x['id']}}, 2);" class="btn btn-sm {{ "btn-success" if map_power['group_manage'] in x['power'] else "btn-danger"}}">
                                    {{ "Yes" if map_power['group_manage'] in x['power'] else "No"}}
                                </div>
                            </td>
                            <td class="col-md-1">
                                <div onclick="update({{x['id']}}, 3);" class="btn btn-sm {{ "btn-success" if map_power['execute_manage'] in x['power'] else "btn-danger"}}">
                                    {{ "Yes" if map_power['execute_manage'] in x['power'] else "No"}}
                                </div>
                            </td>
                            <td class="col-md-1">
                                <div onclick="update({{x['id']}}, 4);" class="btn btn-sm {{ "btn-success" if map_power['verdict_manage'] in x['power'] else "btn-danger"}}">
                                    {{ "Yes" if map_power['verdict_manage'] in x['power'] else "No"}}
                                </div>
                            </td>
                            <td class="col-md-2">{{x["created_at"]}}</td>
                            <td class="col-md-1">
                                <button class="btn btn-sm btn-danger" onclick="delete_user({{x['id']}})">Delete</button>
                            </td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% module Pagination(page) %}
<script>
var update = null;
var delete_user = null;
require(['jquery', "bootbox"], function($, bootbox){
    update = function(id, power_type){
        $.ajax({
            url: '/api/users/'+id+'/',
            type: "POST",
            data: {
                'query': "power",
                'power': power_type,
                'token': "{{account['token']}}"
            },
            dataType: "json",
            success: function(msg){
                if(msg["status"] == 200){
                    location.href = location.href;
                } else {
                    bootbox.alert(msg['msg']);
                }
            }
        });
    }
    delete_user = function(id){
        bootbox.confirm('Delete user ' + id + '?', function(res){
            if(res == false)return false;
            $.ajax({
                url: '/api/users/' + id + '/',
                type: "DELETE",
                data: {
                    token: "{{account['token']}}",
                },
                dataType: "json",
                success: function(msg){
                    if(msg["status"] == 200){
                        bootbox.alert('Delete Succcussfully', function(){
                            location.href = location.href;
                        });
                    } else {
                        bootbox.alert(msg['msg']);
                    }
                }
            });
            return true;
        });
    }
});
</script>

{% end %}
