{% extends './../frame.html' %}
{% block content %}
<style>
.glyphicon-question-sign:hover{
    cursor: pointer;
}
</style>
<div class="row">
    <!-- Personal Information -->
    <div class="col-md-4">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Photo
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Photo
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Advanced Information
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Information
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Account</td>
                            <td>{{data['account']}}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{data['name']}}</td>
                        </tr>
                        {% if data['id'] == account['id'] %}
                            <tr>
                                <td>School</td>
                                <td>{{data['school_id']}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{data['email']}}</td>
                            </tr>
                            <tr>
                                <td>StudentID</td>
                                <td>{{data['student_id']}}</td>
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if data['id'] == account['id'] %}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Token
                    <span style="float: right;">
                        <span class="glyphicon glyphicon-question-sign token_explain"></span>
                        <a class="btn btn-default btn-xs user_token_show_button">Show</a>
                        <a class="btn btn-default btn-xs user_token_reset_button">Reset</a>
                    </span>
                </div>
            </div>
        </div>
        {% end %}
    </div>
    <!-- Each Group -->
    <div class="col-md-8">
        {% for x in data['group']  %}
            {% if x in group %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{x['name']}}
                        <span style="float: right;">
                            <a class="btn btn-default btn-xs user_group_toggle_button" data-status="hide" data-group-id="{{x['id']}}">Toggle</a>
                        </span>
                    </div>
                    <div class="panel-body hidden">
                    </div>
                </div>
            {% end %}
        {% end %}
    </div>
</div>
<script>
require(["jquery", "bootbox"], function($, bootbox){
    $(".user_group_toggle_button").click(function(){
        user = {{data['id']}};
        $.ajax({
            url: "/api/users/{{data['id']}}/groups/"+$(this).attr("data-group-id")+"/problems/",
            data: {token: "{{account['token']}}"},
            dataType: "json",
            success: function(msg){
                $.each(msg['msg'], function(index, element){
                    
                });
            }
        });
    });
    $(".token_explain").click(function(){
        bootbox.alert("Token allow you to post api by yourself.");
    });
    $(".user_token_show_button").click(function(){
        bootbox.confirm("Ensure there is nobody around you", function(result){
            if(result){
                bootbox.alert("{{account['token']}}");
            }
        });
    });
    $(".user_token_reset_button").click(function(){
        bootbox.confirm("Do you really want to reset it?", function(result){
            if(result){
                bootbox.prompt({
                    title: 'password',
                    callback: function(passwd){
                        $.post('/api/user/resettoken/',{
                            'token': "{{account['token']}}",
                            'passwd': passwd}, function(msg){
                                if(msg['status'] == 200){
                                    bootbox.alert('token is reset', function(){
                                        location.href = location.href;
                                    });
                                }else{
                                    bootbox.alert(msg['msg']);
                                }
                            }, "json");
                    },
                    inputType: 'password'
                });
            }
        });
    });
});

</script>

{% end %}
