{% extends './../frame.html' %}
{% block content %}

<div class="row">
    <!-- Personal Information -->
    <div class="col-md-4">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Photo
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Photo
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Advanced Information
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Information
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Account</td>
                            <td>{{data['account']}}</td>
                        </tr>
                        <tr>
                            <td>School</td>
                            <td>{{data['school_id']}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{data['email']}}</td>
                        </tr>
                        <tr>
                            <td>StudentID</td>
                            <td>{{data['student_id']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Each Group -->
    <div class="col-md-8">
        {% for x in group %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{x['name']}}
                    <span style="float: right;">
                        <a class="btn btn-default btn-xs user_group_toggle_button" data-status="hide" data-group-id="{{x['id']}}">Toggle</a>
                    </span>
                </div>
            </div>
        {% end %}
    </div>
</div>
<script>
$(document).ready(function(){
    $(".user_group_toggle_button").click(function(){
        user = {{data['id']}};
        bootbox.alert(' '+$(this).attr("data-group-id") + user);
    });
});

</script>

{% end %}
