{% extends './../frame.html' %}
{% block content %}

<form method="post" action="/api/groups/{{current_group}}/bulletins/{{data['id']}}/">
    <input type="hidden" name="token" value="{{account['token']}}">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value={{data['title']}}>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" name="content" rows=25>{% raw data['content'] %}</textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<script src="/asset/jQuery/jquery.min.js"></script>
<script src="/asset/ckeditor-dev/ckeditor.js"></script>
<script src="/asset/ckeditor-dev/adapters/jquery.js"></script>
<script>
require(["jquery", "bootbox"], function($, bootbox){
    $("textarea").ckeditor();
    $("form").submit(function(){
        form = $(this);
        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: form.serialize(),
            dataType: "json",
            success: function(msg){
                if(msg['status'] == 200){
                    location.href = "/groups/{{current_group}}/bulletins/";
                    return false;
                } else {
                    bootbox.alert(msg['msg'])
                }
            }
        });
        return false;
    });
});
</script>

{% end %}
