{% extends './../frame.html' %}
{% block content %}
{% if map_group_power["bulletin_manage"] in current_group_power %}
    <a class="btn btn-default margin-bottom" href="/groups/{{current_group}}/bulletins/0/edit/">New</a>
{% end %}
<div class="row">
    {% for x in data %}
        <div class="col-xs-12">
            <div class="bulletin panel panel-default">
                <div class="panel-heading">
                    {{x['title']}}
                    {% if map_group_power["bulletin_manage"] in current_group_power %}
                        <span style="float: right;">
                            <a class="btn btn-default btn-xs" href="/groups/{{current_group}}/bulletins/{{x['id']}}/edit/">Edit</a>
                            <a class="btn btn-default btn-xs delete bulletin" data-href="/api/groups/{{current_group}}/bulletins/{{x['id']}}/" data-method="delete">Delete</a> 
                        </span>
                    {% end %}
                </div>
                <div class="panel-body">{% raw x['content']%}</div>
                <div class="panel-footer">By {{x['setter_user']}} At {{x['created_at']}}</div>
            </div>
        </div>
    {% end %}
</div>
{% if map_group_power["bulletin_manage"] in current_group_power %}
    <script>
    require(["jquery", "bootbox"], function($, bootbox){
        $(".btn.delete.bulletin").click(function(){
            ele = $(this);
            bootbox.confirm("Are you sure?", function(result){
                if(result){
                    $.ajax({
                        url: $(ele).attr("data-href"),
                        type: $(ele).attr("data-method"),
                        data: {
                            "token": '{{account['token']}}'
                        },
                        dataType: "json",
                        success: function(msg){
                            if(msg['status'] == 200){
                                location.href = location.href;
                            } else {
                                alert(msg['msg']);
                            }
                        }
                    });
                }
            }); 
        });
    });
    </script>
{% end %}
{% module Pagination(page) %}
{% end %}
