{% extends './../frame.html' %}
{% block content %}

<form method="post" action="/group/{{current_group}}/bulletins/{{data['id']}}/">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value={{data['title']}}>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" name="content">{% raw data['content'] %}</textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

{% end %}
