{% extends './../frame.html' %}
{% block content %}


{% if map_group_power["admin_manage"] in current_group_power %}
    <a class="btn btn-success" href="/group/{{current_group}}/bulletins/0/edit/">New</a>
{% end %}


<div>
    {% for x in data %}
        <div class="row bulletin-header">
            <div class="col-xs-3 bulletin-title">
                {{x['title']}}
            </div>
            <div class="col-xs-3 bulletin-setter">
                {{x['setter_user']}}
            </div>
            <div class="col-xs-3 bulletin-created">
                {{x['created_at']}}
            </div>
            {% if map_group_power["admin_manage"] in current_group_power %}
                <div class="col-xs-3">
                    <a class="btn btn-warning btn-sm" href="/group/{{current_group}}/bulletins/{{x['id']}}/edit/">Edit</a>
                </div>
            {% end %}
        </div>
        <div class="divider"></div>
        <div class="bulletin-content">
            {% raw x['content'] %}
        </div>
    {% end %}
</div>
{% include './../modules/pagination.html' %}
{% end %}
