{% extends './../frame.html' %}
{% block content %}

<form method={% if data['id'] != 0 %}"put"{% else %}"post"{% end %} 
    action={% if data['id'] != 0 %}"/api/groups/{{current_group}}/bulletins/{{data['id']}}/"
            {% else %}"/api/groups/{{current_group}}/bulletins/"
            {% end %}>
    <input type="hidden" name="token" value="{{account['token']}}">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value={{data['title']}}>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" name="content" rows=25>{% raw data['content'] %}</textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<script>
require(["jquery", "bootbox", "ckeditor"], function($, bootbox){
    $('textarea').ckeditor();
    $("form").submit(function(){
        form = $(this);
        $.ajax({
            url: form.attr("action"),
            type: form.attr("method"),
            data: form.serialize(),
            dataType: "json",
            success: function(msg){
                location.href = "/groups/{{current_group}}/bulletins/";
            },
            error: function(event){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg']);
            }

        });
        return false;
    });
});
</script>

{% end %}
