{% extends './../frame.html' %}
{% block content %}

{% if map_group_power["admin_manage"] in current_group_power %}
    <a class="btn btn-default" href="/group/{{current_group}}/bulletins/0/edit/" style="margin-bottom: 12px;">New</a>
{% end %}

<div class="row">
    {% for x in data %}
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{x['title']}}
                    {% if map_group_power["admin_manage"] in current_group_power %}
                        <span style="float: right;">
                            <a class="btn btn-default btn-xs" href="/group/{{current_group}}/bulletins/{{x['id']}}/edit/">Edit</a>
                            <a class="btn btn-default btn-xs" onclick="delete_bulletin(this)" data-href="/api/group/{{current_group}}/bulletins/{{x['id']}}/" data-method="delete">Delete</a> 
                        </span>
                    {% end %}
                </div>
                <div class="panel-body">{% raw x['content'] %}</div>
                <div class="panel-footer">By {{x['setter_user']}} At {{x['created_at']}}</div>
            </div>
        </div>
    {% end %}
</div>
<script>
function delete_bulletin(ele){
    bootbox.confirm("Are you sure?", function(result) {
        if(result){
            $.ajax({
                url: $(ele).attr("data-href"),
                type: $(ele).attr("data-method"),
                dataType: "json",
                success: function(msg){
                    if(msg['status'] == 'success'){
                        location.href = location.href;
                    } else {
                        alert(msg['msg']);
                    }
                }
            });
        }
    }); 
}
</script>

{% module Pagination(page) %}

{% end %}
