db_host = ""
db_user = ""
db_dbname = ""
db_password = ""
ftp_server = ""
ftp_port = 22
ftp_user = ""
ftp_password = ""
judgecenter_host = ""
judgecenter_port = 3118
judgecenter_listen = 10
redis_host = ''
redis_port = 6379
redis_db = 1
DATA_EXPIRE_SECOND = 86400
