
{% if 'contest_data' in globals() %}
{% else %}
<form class="form-inline">
    <div>
        <label class="control-label">Problem ID:</label>
        <input class="form-control" name="problem_id" type="number" value="{{page['get']['problem_id'] or ''}}">
        <label class="control-label">Account:</label>
        <input class="form-control" name="account" type="text" value="{{page['get']['account'] or ''}}">
        <label class="control-label">Verdict:</label>
        <select name="verdict" value='{{page['get']['verdict'] or ''}}'>
            <option value=''>ALL</option>
            {% for x in map_verdict_types %}
                <option value='{{x}}' style="color: {{map_verdict_types[x]['color']}}">{{map_verdict_types[x]['abbreviation']}}</option>
            {% end %}
        </select>
        <button class="btn btn-success">Go</button>
        <button class="btn btn-warning" type="button" onclick="($(this).parent().parent()[0]).reset();$(this).parent().parent().submit()">Reset</button>
    </div>
</form>
<script>
require(["jquery", "bootbox", "bootstrap-select"], function($, bootbox){
    {% if page['get']['verdict'] %}
        $("select").selectpicker().selectpicker('val', {{page['get']['verdict']}});
    {% else %}
        $("select").selectpicker();
    {% end %}
});
</script>
{% end %}

<div class="panel panel-default table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Problem</th>
                <th>Submitter</th>
                <th>Time</th>
                <th>Memory</th>
                <th>Verdict</th>
                <th>Compiler</th>
                <th>Length</th>
                <th>Score</th>
                <th>Submit Time</th>
                {% if len(current_group_power) %}
                    <th>IP</th>
                {% end %}
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
                <tr>
                    {% if 'contest_data' in globals() %}
                        <td><a href="/groups/{{current_group}}/contests/{{contest_data['id']}}/submissions/{{x['id']}}/">{{x['id']}}</a></td>
                        <td><a href="/groups/{{current_group}}/contests/{{contest_data['id']}}/problems/{{x['problem_id']}}/">
                            {% for id, y in enumerate(contest_data['problem']) %}
                                {% if x['problem_id'] == y['id'] %}
                                    {{chr(id+65)}}.{{x['problem_title']}}
                                {% end %}
                            {% end %}
                        </a></td>
                    {% else %}
                        <td><a href="/groups/{{current_group}}/submissions/{{x['id']}}/">{{x['id']}}</a></td>
                        <td><a href="/groups/{{current_group}}/problems/{{x['problem_id']}}/">{{x['problem_id']}}.{{x['problem_title']}}</a></td>
                    {% end %}

                    <td><a href="/users/{{x['user_id']}}/">{{x['user']}}</a></td>
                    <td>{{x['time_usage'] if x['time_usage'] is not None else "--"}}</td>
                    <td>{{x['memory_usage'] if x['memory_usage'] is not None else "--"}}</td>
                    <td style="color: {{map_verdict_types[x['verdict']]['color']}}">{{map_verdict_types[x['verdict']]['abbreviation']}}</td>
                    <td><a href="/executes/{{x['execute_type_id']}}/">{{map_lang[map_execute_types[x['execute_type_id']]['lang']]}}</a></td>
                    <td>{{x['length']}}</td>
                    <td>{{x['score'] if x['score'] is not None else '--' }}</td>
                    <td>{{x['created_at']}}</td>
                    {% if len(current_group_power) %}
                        <td>{{x['ip']}}</td>
                    {% end %}
                </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% module Pagination(page) %}
