{% if map_group_power['submission_manage'] in current_group_power and map_verdict_types[data['verdict']]['abbreviation'] != 'Pending'%}
    <a class="btn btn-default margin-bottom" onclick="rejudge_submission(this);">Rejudge</a>
    <script>
    function rejudge_submission(ele){
        require(["jquery", "bootbox"], function(){
            $.ajax({
                url: '/api/groups/{{current_group}}/submissions/{{data['id']}}/rejudge/',
                type: 'post',
                dataType: 'json',
                data: {
                    'token': '{{account['token']}}'
                },
                success: function(msg){
                    location.href = location.href;
                },
                error: function(event){
                    msg = JSON.parse(event.responseText);
                    bootbox.alert(msg['msg']);
                }
            });
        });
    }
    </script>
{% end %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Submission. #{{data['id']}}</h2>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-2">
                Problem
            </div>
            <div class="col-xs-2">
                Submitter
            </div>
            <div class="col-xs-2">
                Time(ms)
            </div>
            <div class="col-xs-2">
                Memory(KiB)
            </div>
            <div class="col-xs-2">
                Verdict
            </div>
            <div class="col-xs-2">
                Score
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                {% if 'contest_data' in globals() %}
                    <a href="/groups/{{current_group}}/contests/{{contest_data['id']}}/problems/{{data['problem_id']}}/">
                        {% for id, x in enumerate(contest_data['problem']) %}
                            {% if x['id'] == data['problem_id'] %}
                                {{chr(id+65)}}.{{data['problem_name']}}
                            {% end %}
                        {% end %}
                    </a>
                {% else %}
                    <a href="/groups/{{current_group}}/problems/{{data['problem_id']}}/">{{data['problem_id']}}.{{data['problem_name']}}</a>
                {% end %}
            </div>
            <div class="col-xs-2">
                <a href="/users/{{data['user_id']}}/">{{data['submitter']}}</a>
            </div>
            <div class="col-xs-2">
                {{data['time_usage'] if data['time_usage'] is not None else '--'}}
            </div>
            <div class="col-xs-2">
                {{data['memory_usage'] if data['memory_usage'] is not None else '--'}}
            </div>
            <div class="col-xs-2">
                <font style="color: {{map_verdict_types[data['verdict']]['color']}}">{{map_verdict_types[data['verdict']]['abbreviation']}}</font>
            </div>
            <div class="col-xs-2">
                {{data['score'] if data['score'] is not None else '--'}}
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        {% if map_group_power['submission_manage'] in current_group_power %}
            <div class="row">
                <div class="col-xs-3">
                    Compiler
                </div>
                <div class="col-xs-3">
                    Execute Type
                </div>
                <div class="col-xs-3">
                    Code Length
                </div>
                <div class="col-xs-3">
                    IP
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-4">
                    Compiler
                </div>
                <div class="col-xs-4">
                    Execute Type
                </div>
                <div class="col-xs-4">
                    Code Length
                </div>
            </div>
        {% end %}
    </div>
    <div class="panel-body">
        {% if map_group_power['submission_manage'] in current_group_power %}
            <div class="row">
                <div class="col-xs-3">
                   {{map_lang[map_execute_types[data['execute_type_id']]['lang']]}}
                </div>
                <div class="col-xs-3">
                    <a href="/executes/{{data['execute_type_id']}}/">{{map_execute_types[data['execute_type_id']]['description']}}</a>
                </div>
                <div class="col-xs-3">
                    {{data['length']}}
                </div>
                <div class="col-xs-3">
                    {{data['ip']}}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-4">
                   {{map_lang[map_execute_types[data['execute_type_id']]['lang']]}}
                </div>
                <div class="col-xs-4">
                    <a href="/executes/{{data['execute_type_id']}}/">{{map_execute_types[data['execute_type_id']]['description']}}</a>
                </div>
                <div class="col-xs-4">
                    {{data['length']}}
                </div>
            </div>
        {% end %}
    </div>
</div>
<div class="panel panel-default">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Time</th>
                <th>Memory</th>
                <th>Verdict</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for id, x in enumerate(data['testdata']) %}
                <tr>
                    <td>{{id+1}}</td>
                    <td>{{x['time_usage'] if x['time_usage'] is not None else '--'}}</td>
                    <td>{{x['memory_usage'] if x['memory_usage'] is not None else '--'}}</td>
                    <td>
                        {% if "msg" in x %}
                            <a onclick="show_msg(this);" style="cursor: pointer;">
                                <font style="color: {{map_verdict_types[x['verdict']]['color']}}">{{map_verdict_types[x['verdict']]['abbreviation']}}</font>
                                <textarea hidden>{{x['msg'] if "msg" in x else ""}}</textarea>
                            </a>
                        {% else %}
                            <font style="color: {{map_verdict_types[x['verdict']]['color']}}">{{map_verdict_types[x['verdict']]['abbreviation']}}</font>
                        {% end %}
                    </td>
                    <td>{{x['score'] if x['score'] is not None else '--'}}</td>
                </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% if data['user_id'] == account['id'] or map_group_power['submission_manage'] in current_group_power %}
{% set textarea = 'plain_code' %}
{% set execute = data['execute'] %}
{% set cm_theme = 'cm_theme' %}
{% set cm_mode = 'cm_mode' %}
{% set cm_default_execute_id = data['execute_type_id'] %}
{{ cm_default_execute_id }}
{% include ../codemirror/cm_init.html %}
<form class="form" action="/api/groups/{{current_group}}/submissions/0/submit/">
    <input type="hidden" name="id" value="{{data['problem_id']}}">
    <input type="hidden" name="token" value="{{account['token']}}">
    <input type="hidden" name="execute_type_id" value="{{data['execute_type_id']}}">
    <input type="hidden" name="file_name" value="{{data['file_name']}}">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{data['file_name']}}
                </div>
                <div class="panel-body edit">
                    <textarea class="form-control" name="plain_code" rows=25>{{data['code']}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <!--button type="submit" class="btn btn-success">Submit</button-->
</div>
<script>
var codemirror;
require(["jquery", "bootbox", "bootstrap-select", "codemirror"], function($, CodeMirror){
    $("button").prop("disabled", false);
    $(".selectpicker").selectpicker();
    $("form").submit(function(){
        var data = new FormData($(this)[0]);
        form = $(this);
        $("button").prop("disabled", true);
        $.ajax({
            url: form.attr("action"),
            type: "post",
            data: data,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(msg){
                $("button").prop("disabled", false);
                location.href = "/groups/{{current_group}}/submissions/"+msg['msg']+"/";
            },
            error: function(event){
                msg = JSON.parse(event.responseText);
                bootbox.alert(msg['msg']);
            }
        });
        return false;
    });
});
function show_msg(ele){
    require(["jquery", "bootbox"], function($, bootbox){
        console.log($(ele).children("textarea").html());
        bootbox.dialog({
            message: "<textarea class='form-control' style='resize:none' rows=15>"+$(ele).children("textarea").html()+"</textarea>",
            title: "Message",
            buttons: {
                success: {
                    label: "Close",
                    className: "btn-success",
                    callback: function() {
                    }
                },
            }
        });
    });
}

</script>
{% end %}
