{% extends './../frame.html' %}
{% block content %}
Submission

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>PID</th>
                        <th>Submitter</th>
                        <th>Time</th>
                        <th>Memory</th>
                        <th>Verdict</th>
                        <th>Compiler</th>
                        <th>Score</th>
                        <th>Submit Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data %}
                        <tr>
                            <td><a href="/group/{{current_group}}/submissions/{{x['id']}}/">{{x['id']}}</a></td>
                            <td><a href="/group/{{current_group}}/problems/{{x['problem_id']}}/">{{x['problem_id']}}</a></td>
                            <td><a href="/users/{{x['user_id']}}/">{{x['user']}}</a></td>
                            <td>{{x['time_usage'] if x['time_usage'] else "--"}}</td>
                            <td>{{x['memory_usage'] if x['memory_usage'] else "--"}}</td>
                            <td></td>
                            <td><a href="/executes/{{x['execute_type_id']}}/">{{map_lang[x['lang']]}}</a></td>
                            <td>{{x['score'] if x['score'] else '--' }}</td>
                            <td>{{x['created_at']}}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}
